<section class="py-12 px-4 md:py-16 md:px-6 max-w-7xl mx-auto pb-30 lg:pb-0">
  <div class="grid md:grid-cols-2 gap-6 md:gap-8 items-center">
    <div class="order-1 md:order-1 flex justify-center">
      <dotlottie-player
        src="/json/capitolio2.json"
        background="transparent"
        speed="1"
        style="width: 100%; height: 100%;"
        class="w-[300px] h-[300px] md:w-[700px] md:h-[700px] -mt-15 -mb-5 lg:-mt-0 lg:-mb-0"
        loop
        autoplay
      ></dotlottie-player>
    </div>

    <div class="order-2 md:order-2 text-center md:text-left">
      <h2 class="text-[28px] leading-tight md:text-4xl font-bold mb-4 text-[#1a602d]">
        <span class="block md:inline">Acercamos el gobierno</span>
        <span class="block md:inline">a los ciudadanos</span>
      </h2>

      <p class="text-[#224a33] text-[16px] leading-relaxed md:text-[20px]">
        No más días perdidos en largas filas ni tener que regresar porque olvidaste un documento. Gestionamos tus trámites desde la solicitud hasta la entrega de licencias y permisos, te ayudamos con las deudas o gravámenes y hasta negociamos planes de pago. Nos encargamos de todo.
      </p>
    </div>
  </div>
</section>
