<section class="bg-gradient-to-b from-[#ffffff] to-[#60f88b] px-4 md:px-6 pt-6 md:pt-20 pb-12 md:pb-50 rounded-b-[50px]">
  <div class="grid md:grid-cols-2 gap-6 md:gap-8 items-center max-w-7xl mx-auto">
    <div class="order-2 md:order-1 text-center md:text-left">
      <h1 class="text-[32px] leading-tight md:text-5xl font-bold mb-4 md:mb-6">
        <span class="text-[#1a602d] block md:inline">Olvídate de las </span>
        <span class="text-[#1a602d] block md:inline">filas y esperas</span>
      </h1>

      <p class="text-[#224a33] text-[16px] mb-6 md:mb-8 max-w-lg mx-auto md:mx-0">
        Realiza el trámite para renovar tu licencia, realizar un
        traspaso de vehículo y mucho más desde la comodidad de
        tu hogar.
      </p>

      <div class="flex justify-center md:justify-start">
        <a href="/servicios" class="bg-[#1a602d] hover:bg-[#155223] text-white px-12 py-3 rounded-full font-bold transition-colors md:px-8">
          Comienza ahora
        </a>
      </div>
    </div>

    <div class="order-1 md:order-2 relative flex justify-center md:justify-end">
      <div class="absolute inset-0">
        <dotlottie-player
          src="/json/carro-home.json"
          background="transparent"
          speed="1"
          style="width: full; height: full;"
          autoplay
        ></dotlottie-player>
      </div>
      <div class="relative z-10">
        <dotlottie-player
          src="/json/personashome2.json"
          background="transparent"
          speed="1"
          style="width: full; height: full;"
          loop
          autoplay
        ></dotlottie-player>
      </div>
    </div>
  </div>
</section>
